@use "sass:color";

$primary-color: #4caf50;
$primary-hover: #{color.adjust($primary-color, $lightness: -10%)};
$secondary-color: #007bff;
$secondary-hover: #{color.adjust($secondary-color, $lightness: -10%)};

#page {
    font-family: "Arial", sans-serif;
    display: flex;
    min-height: 100vh;
    padding: 15px;
    background: #f1efef;
    gap: 30px;
}

.section {
    font-size: 15px;
    display: flex;
    width: 100%;
    flex-direction: column;
    place-items: center;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px #0000001a;
    padding: 30px;
    gap: 20px;

    &-padding {
        gap: 30px;

        h2::before {
            padding-right: 5px;
            content: "➕";
        }
    }
}

h1 {
    font-size: 2em;
    color: #333;
    font-weight: bold;
    text-align: center;
}

h2{
    font-size: 1.4em;
    color: $primary-color;
    text-align: center;

    &::before {
        content: "📸";
        padding-right: 5px;
    }
}

#file-inp,
#file-name {
    display: none;
}

#file-inp-label {
    width:fit-content;
    min-width: 150px;
    font-size: 1.1em;
}

#exif-data-info {
    width: 100%;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ddd;
    font-size: 1.2em;
    line-height: 1.6em;
    color: #333;
    text-align: left;
}

#image-preview {
    max-height: 300px;
    object-fit: contain;
    border-radius: 10px;
    display:none;
    border: 2px solid #ddd;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

#locLink {
    color: $secondary-color;
}

.inp-text,
.btn-green,
#download-link {
    padding: 10px 15px;
    width: 80%;
    font-size: 1.2em;
    border: 1px solid #ddd;
    border-radius: 5px;

    &:not(.btn-green):focus {
        border: 1px solid #666;
    }
}

.btn-green {
    background-color: $primary-color;
    color: white;
    cursor: pointer;
    border: none;
    text-align: center;
    transition: background-color 0.2s;

    &:hover {
        background-color: $primary-hover !important;
    }
}

#download-link {
    display: none;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: $secondary-color;
    border-radius: 5px;
    transition: background-color 0.2s;

    &:hover {
        background-color: $secondary-hover;
    }
}

@media (max-width: 768px) {
    #page {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .section {
        font-size: 12px;
    }
}
