@charset "UTF-8";
#page {
  font-family: "Arial", sans-serif;
  display: flex;
  min-height: 100vh;
  padding: 15px;
  background: #f1efef;
  gap: 30px;
}

.section {
  font-size: 15px;
  display: flex;
  width: 100%;
  flex-direction: column;
  place-items: center;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1019607843);
  padding: 30px;
  gap: 20px;
}

.section-padding h2::before {
  content: "";
}

#languageSwitcher {
  appearance: none; /* Թաքցնում է բրաուզերի լռելայն սլաքը */
  -webkit-appearance: none;
  -moz-appearance: none;
  align-self: start;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#languageSwitcher:hover {
  background-color: #43a047; /* 10%-ով մուգ տարբերակ */
}

#languageSwitcher option {
  color: rgb(255, 255, 255);
}

h1 {
  font-size: 2em;
  color: #333;
  font-weight: bold;
  text-align: center;
}

h2 {
  font-size: 1.4em;
  color: #4caf50;
  text-align: center;
}
h2::before {
  content: "📸";
  padding-right: 5px;
}

#file-inp,
#file-name {
  display: none;
}

#file-inp-label {
  width: fit-content;
  min-width: 150px;
  font-size: 1.1em;
}

#exif-data-info {
  width: 100%;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 1.2em;
  line-height: 1.6em;
  color: #333;
  text-align: left;
}

#image-preview {
  max-height: 300px;
  object-fit: contain;
  border-radius: 10px;
  display: none;
  border: 2px solid #ddd;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

#locLink {
  color: #007bff;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 8px; 
  min-width: 350px;  
}

label {
  font-size: 1em;
  color: #333;
  font-weight: 500;
  text-align: left;
}

.inp-text,
.btn-green,
#download-link {
  padding: 10px 15px;
  width: 80%;
  
  max-width: 300px;
  font-size: 1.2em;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.inp-text:not(.btn-green):focus,
.btn-green:not(.btn-green):focus,
#download-link:not(.btn-green):focus {
  border: 1px solid #666;
}

.btn-green {
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  border: none;
  text-align: center;
  transition: background-color 0.2s;
}
.btn-green:hover {
  background-color: rgb(
    60.5577689243,
    139.4422310757,
    63.7450199203
  ) !important;
}

#download-link {
  display: none;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: #007bff;
  border-radius: 5px;
  transition: background-color 0.2s;
}
#download-link:hover {
  background-color: rgb(0, 98.4, 204);
}

@media (max-width: 768px) {
  #page {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  .section {
    font-size: 12px;
  }
}
