@use "sass:color";

$primary-color: #4caf50;
$primary-hover: color.adjust($primary-color, $lightness: -10%);
$secondary-color: #007bff;
$secondary-hover: color.adjust($secondary-color, $lightness: -10%);



.section {
    font-size: 1rem;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background: #fff;
    border-radius: 0.625rem;
    box-shadow: 0 0 0.625rem #0001;
    padding: 2rem;
    gap: 1.25rem;

    &-padding {
        gap: 2rem;

        h2::before {
            padding-right: 0.3125rem;
        }
    }
}

h1 {
    font-size: 2em;
    color: #333;
    font-weight: bold;
    text-align: center;
}

h2 {
    font-size: 1.4em;
    color: $primary-color;
    text-align: center;

    &::before {
        content: "📸";
        padding-right: 0.3125rem;
    }
}

#file-inp,
#file-name {
    display: none;
}

#file-inp-label {
    width: fit-content;
    min-width: 9.375rem;
    font-size: 1.1em;
}

#exif-data-info {
    width: 100%;
    background: #f9f9f9;
    padding: 1.25rem;
    border-radius: 0.625rem;
    border: 1px solid #ddd;
    font-size: 1.2em;
    line-height: 1.6;
    color: #333;
    text-align: left;
}

#image-preview {
    max-height: 18.75rem;
    object-fit: contain;
    border-radius: 0.625rem;
    display: none;
    border: 2px solid #ddd;
    box-shadow: 0 0.3125rem 0.9375rem rgba(0, 0, 0, 0.1);
}

#locLink {
    color: $secondary-color;
}

.inp-text,
.btn-green,
#download-link {
    padding: 0.625rem 0.9375rem;
    width: 80%;
    font-size: 1.2em;
    border: 1px solid #ddd;
    border-radius: 0.3125rem;

    &:not(.btn-green):focus {
        border-color: #666;
    }
}

.btn-green {
    background: $primary-color;
    color: #fff;
    cursor: pointer;
    border: none;
    text-align: center;
    transition: background 0.2s;

    &:hover {
        background: $primary-hover !important;
    }
}

#download-link {
    display: none;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background: $secondary-color;
    border-radius: 0.3125rem;
    transition: background 0.2s;

    &:hover {
        background: $secondary-hover;
    }
}

@media (max-width: 768px) {
    #page {
        flex-direction: column;
        align-items: center;
        padding: 0.625rem;
    }

    .section {
        font-size: 0.75rem;
    }
}
